.sort-dropdown {
  height: 46px;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #e6e7e8;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

.sort-dropdown-container {
  display: flex;
  justify-content: flex-end;
}

.sort-icon {
  width: 15px;
  height: 15px;
  margin-left: 5px;
}

.rotate {
  transform: rotate(180deg);
}

.dropdown-list {
  display: block;
  margin-top: 47px;
}
